button {
    background-color: #6C38CC;
    color: #FAFAFA;
}

form {
    background-color: #1E1F29;
    color: #FAFAFA;
}

label {
    color: #AFB2BF;
}

input,
select,
textarea {
    background-color: #2E2D3D;
    color: #FAFAFA;
    color: green;
    ;

}