* {
    box-sizing: border-box;
    letter-spacing: 0em;
    font-weight: 400;
}



legend {
    font-family: Fira Sans;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
}

.btn-close {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0px;
    background-color: transparent;
    position: absolute;
    left: 697px;

}


form {
    background-color: #1E1F29;
    color: #FAFAFA;
    width: 793px;
    height: 598px;
    margin: 20px auto;
    padding: 48px;

}


.signs {
    padding: 3px;
    color: rgba(175, 178, 191, 1);
    margin-left: 16px;
    margin-top: 15px;
}

.input {
    margin-top: 24px;
    height: 58px;
    background-color: #2E2D3D;
    color: #FAFAFA;
    border-radius: 10px;
    width: 697px;
}


.input div {
    margin-left: 48px;
    margin-top: -50px;
}

label {
    color: #AFB2BF;
    font-family: Fira Sans;
    font-size: 12px;
    line-height: 14px;
    text-align: left;
    display: block;
    margin-top: 12px;
}

input,
select,
textarea {
    background-color: transparent;
    border-style: none;
    margin-top: 1px;
    color: rgba(250, 250, 250, 1);
    line-height: 19.2px;
    font-size: 16px;
    font-family: Body 16 120%;
    width: 628px;
}

.textarea {
    margin-top: 24px;
    height: 135px;
    background-color: #2E2D3D;
    color: #FAFAFA;
    border-radius: 10px;
    width: 697px;
    padding: 12px 24px;
}

.textarea label {
    margin-top: 0px;
    foCopy Font Fira Sans;
    line-height: 14.4px;
}

textarea {
    line-height: 24px;
    color: rgba(250, 250, 250, 1);
}

option {
    background-color: #2E2D3D;
    color: white;
    height: 58px;
    display: block;

}

option:hover {
    box-shadow: 1px 1px 1px black;
}


button {
    color: #FAFAFA;
    margin-top: 32px;
    width: 697px;
    height: 46px;
    vertical-align: middle;
    text-align: center;
    border-radius: 10px;
    margin-top: 24px;
    background-color: rgba(108, 56, 204, 1);
}